body{
	font-family: 'Helvetica', Sans-serif;
	text-align: center;
}

header{

}

ul{
	list-style: none;
}

h1{
	font-family: 'Helvetica';
	font-size: 70px;
	font-weight: bold;
	color: white;
}

/**********************MAIN************************************/

h2{
	font-size: 32px;
	font-weight: bold;
}

h3{
	font-size: 23px;
	font-weight: bold;
}

p{
	font-size: 14px;
}

span{
	color: white;
}

/**********************FOOTER************************************/

footer{
	background-color: dimgray;
	color: white;
	font-size: 11px;
}

ul.ftnav{
	display: inline;
}

a{
	color: ;
}